.calculator {
    display: flex;
    flex-direction: column;
    background-color: beige;
    width: 50vh;
    height: 65vh;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 10px;


}

#field {
    width: 77%;
    height: 10%;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    gap: 10px;
    width: 200px;


}






.buttons button {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}

.buttons {
    display: flex;
    background-color: antiquewhite;
    height: 75%;
    align-items: flex-start;
    gap: 10px;


}

.operations {
    display: flex;
    flex-direction: column;
    gap: 10px;

}